h1 {
    font-size: 200%; 
    color: navy; 
    text-align: center;
    }
<<<<<<< HEAD
p {
    color: rgb(221, 5, 5);
    }
      
=======

h2 {
    font-size: 30px;
    color: rgb(2, 148, 2);
  }
>>>>>>> CSS
